

{% extends 'app_1/base.html' %}

{% block content %}
    <h1>Uploaded Images</h1>

    <a href="{% url 'upload_images' %}">Upload More Images</a>

    <div>
        {% for image in images %}
            <div style="border: 1px solid #ddd; margin-bottom: 20px; padding: 10px;">
                <h2>{{ image.title }}</h2>
                <img src="data:image/jpeg;base64,{{ image.image_data|b64encode }}" alt="Image" style="max-width: 200px;">
                <p>Uploaded by: {{ image.user.username }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
