{% extends 'netflix2/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Your Profile</h2><br>
<h3 style="color: blue;">All Uploaded Images</h3>
{% if images %}
    <ul>
    {% for image in images %}
        <li>
            <h4>Name: {{ image.image_name }}</h4>
            <h4>Upload date and time :{{ image.date }}</h4>
            {{upload_images}}
            <img style="width: 200px; height: 200px; object-fit: cover; object-position: center;" src="data:image/png;base64,{{ image.b64_data }}" alt="{{ image.image_name }}" /><br><br>
            <hr>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No images uploaded yet.</p>
{% endif %}
{% endblock %}
