<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<style>
    form{
        font-size: larger;
    }
    button{
        width: 100px;
        height: 40px;
        border-radius: 10px;
    }
    button:hover{
        background-color: gray;
        color: rgb(11, 11, 11);
    }
</style>
     
    <h1 class="text-center my-3">Add Date</h1>

    <form class="row g-3" method="post" action="{% url 'add_date' %}" >
        <div class="col-md-6">
            {% csrf_token %}
            {{form.as_p}}
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit Data</button>
        </div>
      </form>

      
</body>
</html>

            