
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Tasks</h1>
        
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>date</th>
                <th>task</th>
                <th>operations</th>
            </tr>
        </thead>
        <tbody>
            {% for a in data %}
            <tr>
                <td>{{ a.select_date}}</td>
                <td>{{ a.task }}</td>
                <td>
                    <a href="{% url 'delete_task' a.id %}"><button>Delete</button></a>
                    <a href="{% url 'update_task' a.id %}"><button>Update</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>